.nav-link{
  color:white !important;
}

.nav-link:hover {
  background-color: transparent;
  text-decoration: underline;
  text-underline-offset: 0.375em!important;
}
/* About Page CSS */

.custom-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  /* Adjust the thickness of the underline */
  background-color: blue;
  /* Match the color with the link color */
  position: absolute;
  bottom: 20px;
  /* Adjust the distance from the text */
  transform-origin: bottom right;
  transition: transform 0.25s ease;
}

.custom-link:hover::after {
  transform: scaleX(0);
}


/* Contact Page CSS */

.max-width-800 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Contact Form Styling */

#success-message {
  opacity: 0;
}

.margin-top-25 {
  margin-top: 25px;
}

.form-title {
  padding: 25px;
  font-size: 30px;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group .form-control {
  -webkit-box-shadow: none;
  border-bottom: 1px;
  border-style: none none solid none;
  border-radius: 0;
  border-color: #000;
}

.form-group .form-control:focus {
  box-shadow: none;
  border-width: 0 0 2px 0;
  border-color: #000;

}

textarea {
  resize: none;
}

.btn-mod.btn-large {
  height: auto;
  padding: 13px 52px;
  font-size: 15px;
}

.btn-mod.btn-border {
  color: #000000;
  border: 1px solid #000000;
  background: transparent;
}

.btn-mod,
a.btn-mod {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 13px;
  color: #fff;
  background: rgba(34, 34, 34, .9);
  border: 1px solid transparent;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.btn-mod.btn-border:hover,
.btn-mod.btn-border:active,
.btn-mod.btn-border:focus,
.btn-mod.btn-border:active:focus {
  color: #fff;
  border-color: #000;
  background: #000;
  outline: none;
}

@media only screen and (max-width: 500px) {
  .btn-mod.btn-large {
    padding: 6px 16px;
    font-size: 11px;
  }

  .form-title {
    font-size: 20px;
  }
}

/* Homepage Styling */

.Brand-Cards img {
  max-width: 65px;
}

section#Car-Reviews img.profile {
  max-width: 40px;
}


/* Hero Section Search Form */

div.search-form-wrapper {
  display: flex;
  justify-content: center;
  max-width: 300px;
  margin: auto;
  padding: 10px 20px;
  border-radius: 50px;
  background: white;
}

input.flexsearch--input:focus-visible {
  outline: none;
}

input.flexsearch--submit {
  background: none;
  border: none;
}

input.flexsearch--input {
  border: none;
  width: 100%;
}

.flexsearch--input-wrapper {
  width: 100%;
}

ul#myTab {
  border-bottom: none;
}

.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: transparent!important;
  box-shadow: 0px 1px 5px #cacaca!important;
}

.accordion-button:focus {
 box-shadow: none!important;
}

.nav-tabs .nav-link {
  border: none!important;
}

.nav-tabs .nav-link.active {
  border-bottom: 2px solid black!important;
  border-radius: 0px!important;
}

a.nav-link:hover {
  text-decoration: none!important;
}
a.nav-link{
  color:black;
}

ul {
    margin: 0px;
    list-style: none;
    padding-left: 0px;
  }
  footer.footer-section ul {
    padding-left: 0px;
  }
  .footer-section {
  background: #151414;
  position: relative;
  }
  .footer-cta {
  border-bottom: 1px solid #373636;
  }
  .single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
  }
  .cta-text {
  padding-left: 15px;
  display: inline-block;
  }
  .cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
  }
  .cta-text span {
  color: #757575;
  font-size: 15px;
  }
  .footer-content {
  position: relative;
  z-index: 2;
  }
  .footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
  }
  .footer-logo {
  margin-bottom: 30px;
  }
  .footer-logo img {
    max-width: 200px;
  }
  .footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
  }
  .footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  }
  .footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
  }
  .footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  }
  .facebook-bg{
  background: #3B5998;
  }
  .twitter-bg{
  background: #55ACEE;
  }
  .google-bg{
  background: #DD4B39;
  }
  .footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
  }
  footer .single-cta {
    display: flex;
    justify-content: center;
  }
  .footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
  }
  .footer-widget ul li {
  margin-bottom: 12px;
  }
  .footer-widget ul li a:hover{
  color: #ff5e14;
  }
  .footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
  text-decoration: none;
  }
  .subscribe-form {
  position: relative;
  overflow: hidden;
  }
  .subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
  }
  .subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
  }
  .subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
  }
  .copyright-area{
  background: #202020;
  padding: 25px 0;
  }
  .copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
  }
  .copyright-text p a{
  color: #ff5e14;
  }
  .footer-menu li {
  display: inline-block;
  margin-left: 20px;
  
  }
  .footer-menu li:hover a{
  color: #ff5e14;
  }
  .footer-menu li a {
  font-size: 14px;
  color: #878787;
  }
  .footer-content .row{
    align-items: normal;
  }

.frmLogin {
 display: flex;
 flex-direction: column;
 align-items: stretch;
 justify-content: space-evenly;
 height: 100vh;
 border: 5px solid black;
 border-radius: 50% 0 0 50%;
 padding: 0;
 min-width: 48vw;
 max-width: 100vw;
 background-color: white;
 margin: 0;
}

@media (max-width: 575px) {
 .frmLogin {
  align-items: center;
  border: 0;
  border-radius: 0;
 }
}

.frmLogin h4 {
 font-size: 0.9rem;
 color: gray;
}

.custom-tabs{
  background-color: #202020;
  padding: 10px;
  border-radius: 20px;
}

.custom-tab{
  font-size:1.2rem;
  cursor:pointer;
}
.custom-tab:hover{
  color:white;
}

.custom-tab.active {
  color: #ffffff;
}

.btn:hover {
 color: blue;
}

.btn.active {
 color: blue;
 border: none;
}

.inpField {
 height: auto;
 border-radius: 100px;
 background-color: rgb(245, 245, 245);
}

.inpField:focus {
 outline: none;
}

.btnSubmit {
 border-radius: 100px;
 width: auto;
 font-size: 0.8rem;
}

.btnSubmit:hover {
 background-color: darkblue;
 color: white;
}

.btnForgotPassword:hover {
 color: rgba(0, 0, 0, 0.525);
 font-size: 1.2rem;
}

.sidebar {
 margin-top: 100px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: white;
}

.sidebar h1 {
 margin-bottom: 30px;
 text-align: center;
 padding: 20px;
}

.sidebar p {
 text-align: justify;
 font-size: 0.8rem;
 line-height: 170%;
 padding: 20px;
}

.loginContainer {
 display: grid;
 height: 100vh;
 background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDATH8l5d08FvJObDB8ZoQkDW-rXEzhwTvUDGT96CF&s');
 background-size: cover;
 border: 1px solid black;
}

.borderless {
 outline: none;
 border: none;
 border-radius: 0;
}

.modal-content {
    border-radius: 10px;
  }
  
  .modal-header {
    background-color: #343a40;
    color: white;
    border-bottom: 1px solid #dee2e6;
  }
  
  .modal-title {
    font-size: 1.5rem;
  }
  
  .modal-body {
    padding: 20px;
  }
  
  .inpField {
    width: 100%;
  }
  
  .btnSubmit {
    width: 100%;
    margin-top: 10px;
  }
  

/* Admin Panel Styling begins */

.admin-sidebar {
 height: auto;
 width: 250px;
 background-color: #343a40;
 color: #ffffff;
 padding: 5px;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 transition: transform 0.3s ease-in-out;
}

.admin-sidebar.mobile-open {
 position: fixed;
 top: 0;
 left: 0;
 bottom: 0;
 z-index: 1000;
 width: 80%;
 background-color: #343a40;
 overflow-y: auto;
}

.company-logo {
 width: 40px;
 margin-bottom: 50px;
 align-self: flex-start;
 border-radius: 50%;
}

.user-profile {
 text-align: center;
 margin-bottom: 20px;
}

.profile-picture {
 width: 100px;
 border-radius: 50%;
}

.user-name {
 margin-top: 10px;
 font-weight: bold;
}

.nav-link {
 color: #ffffff;
 border-radius: 5px;
 margin-left: 20px;
}

.nav-link:hover,
.nav-link.active {
 background-color: #36526e;
 color: #fff;
}

.content {
 height: 100vh;
 padding: 20px;
 justify-content: space-evenly;
 align-items: flex-start;
 z-index: -1;
}

.upper-tab {
 background-color: #343a40;
 color: #ffffff;
 padding: 10px;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.toggle-sidebar {
 cursor: pointer;
}

.toggle-sidebar span {
 font-size: 24px;
}

.content-heading {
 font-size: 2rem;
 margin-bottom: 20px;
 color: #343a40;
}

.profile-header {
 background-color: #2b88e5;
 padding: 20px;
 margin-top: 20px;
 display: flex;
 justify-content: center;
 overflow-y: hidden;
 position: relative;
 z-index: 0;
 background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20190220/ourmid/pngtree-blue-business-technology-user-image_6481.jpg');
 background-size: cover;
 background-position: center;
 height: 400px;
 width: 75vw;
}

.profile-header::after {
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rgba(255, 255, 255, 0.5);
 z-index: -1;
}

.profile-content {
 position: absolute;
 top: 0;
 z-index: 1;
 margin-top: 400px;
 margin-left: 50px;
 width: auto;
 display: flex;
 justify-content: center;
}

.profile-title {
 color: #343a40;
 font-size: 2em;
 margin-bottom: 50px;
}

.profile-description {
 color: #333;
 font-size: 1.2em;
}

.profile-form-header {
 background-color: #ffffff;
 padding: 10px;
}

.btnSettings {
 color: black;
 background-color: rgb(120, 183, 185);
 display: flex;
 justify-content: flex-end;
 align-self: flex-end;
}

.btnSettings:hover {
 background-color: #36526e;
 color: #fff;
}

.profile-form {
 background-color: #ffffff;
 padding: 20px;
 border: 1px solid #dee2e6;
 border-radius: 5px;
 margin-bottom: 20px;
}

.profile-form h4 {
 font-size: 1.3rem;
 color: #767b81;
 margin-bottom: 10px;
 margin-top: 30px;
}

.profile-form label {
 font-weight: bold;
 margin: 10px 0;
}

.profile-form .form-group {
 margin-bottom: 20px;
}

.profile-form .form-control {
 border-radius: 5px;
}

.profile-info {
 background-color: #ffffff;
 padding: 20px;
 border: 1px solid #dee2e6;
 border-radius: 5px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.user-image {
 width: 50%;
 max-width: 200px;
 height: auto;
 border-radius: 50%;
 margin-bottom: 10px;
}

.add-deal-button {
 margin-top: 20px;
 background-color: transparent;
 color: rgb(42, 106, 108);
 border: 1px solid rgb(42, 106, 108);
 padding: 10px;
 font-size: 1.2rem;
}

.add-deal-button:hover {
 background-color: #dee2e6;
 color: #2b88e5;
}

.add-deal-button:active {
 border: 1px solid #2b88e5;
 background-color: transparent;
 color: #2b88e5;
}

.deals-table {
 margin-top: 20px;
 font-size: 1rem;
 color: #333;
}

.edit-button {
 margin-right: 5px;
}

.delete-button {
 margin-left: 5px;
}

.form-container {
 margin: 20px;
}

.input {
 font-size: 1.2rem;
 padding: 12px;
 margin-bottom: 15px;
}

.button-row {
 margin-top: 20px;
 display: flex;
 justify-content: space-between;
}
/* Admin Panel Styling end */
.header {
 color: black;
 padding: 20px;
 text-align: center;
 margin: 75px;
}

.header h1 {
 font-size: 2.5rem;
 font-weight: 600;
 margin: 0;
 float: left;
}

.header-buttons Button {
 margin-right: 50px;
 border-radius: 50px;
 padding: 15px;
}

/* .features-list {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 background-color: whitesmoke;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.features-form {
 margin-bottom: 20px;
}

.features-label {
 margin-top: 10px;
 margin-bottom: 20px;
 font-size: 1.2rem;
 font-weight: bold;
 text-align: center;
}

.category-dropdown {
 margin-bottom: 10px;
}

.product-list {
 background-color: whitesmoke;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-card {
 margin-top: 10px;
 margin-bottom: 20px;
 border: 1px solid #ccc;
 border-radius: 8px;
 overflow: hidden;
}

.product-card:hover {
 transform: none;
 box-shadow: 0 0 10px rgba(54, 40, 40, 0.1);
}

.product-card img {
 width: 30dw;
 height: 30vh;
}

.product-card .product-details {
 list-style-type: none;
}

.product-card .product-details li {
 margin-bottom: 1px;
 font-size: 0.7rem;
}

.product-container {
 margin: 70px;
 padding: 30px;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
}

.product-image {
 border-radius: 8px;
 height: 50vh;
 width: 100vw;
}

.product-title {
 color: #333;
 margin: 10px;
}

.details-card {
 margin-top: 10px;
 margin-bottom: 20px;
 border: 1px solid #ccc;
 border-radius: 20px;
 overflow: hidden;
}

.details-card:hover {
 transform: none;
 box-shadow: 0 0 10px rgba(54, 40, 40, 0.1);
}

.btn-details {
 background-color: black;
 color: white;
 border-radius: 25px;
 height: 50px;
}

.btn-details:hover {
 background-color: black;
 color: white;
}

.inactive {
 color: black;
 background-color: white;
 outline: none;
 border: 0;
}

.inactive:hover {
 color: black;
 background-color: white;
}

.color-box {
 border-radius: 50%;
 margin: 10px;
 cursor: pointer;
 border: 1px solid #ccc;
 height: 50px;
 width: 50px;
}

.color-box.active {
 border: 5px solid #ccc;
}

.variant-card {
 width: 40vw;
 height: 10vh;
 margin-bottom: 15px;
 display: flex;
 flex-direction: column;
}

.variant-card:hover {
 transform: none;
 box-shadow: 0 0 10px rgba(54, 40, 40, 0.1);
}

.details-text {
 font-size: 1.5rem;
}

@media (max-width: 768px) {
 .variant-card {
  width: 80vw;
 }
 .details-text {
  font-size: 1rem;
 }
}
